{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
{% endblock meta %}

{% block content %}

<!-- <style>
    form  { 
        display: flex;   
        justify-content: center;
        align-items: center;   
        gap: 10px;
        margin: auto;
        margin-top: 50px;
    }

    .btn-submit {
        display: flex;
        margin-left: auto;
        margin-top: 20px;
        letter-spacing: .02em;
    }
    
    p     { display: table-row;  }
    label { display: table-cell; }
    input { display: table-cell; margin-top: 20px; margin-left: 10px;}
    textarea { display: table-cell; margin-left: 10px; margin-top: 10px;}

</style> -->

<!-- <form  class="form-create-task" action="/todolist/add-task/" method = "POST">
    {% csrf_token %}
    <fieldset>
        <p>
            <label class="description-label">Title: </label>
            <input type="text" name="title" required>
        </p>
        <p>
            <label display>Description: </label>
            <textarea name="description" class="description-input" cols="25" rows="10" required></textarea>
        </p>
        <input class="btn-submit" type="submit" value="Add Todo Item">
    </fieldset>
</form>  -->

<section class="vh-100" style="background-color: #15aabf;">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-9 col-md-7 col-lg-5 col-lg-6 col-xl-3">
                <div class="card bg-light text-black d-flex justify-content-center" style="border-radius: 1rem; padding: 20px; height: 450px;">
                    <h2 class="d-flex justify-content-center" style="margin-bottom: 1rem;">Create New Task</h2>
                
                    <form class="form-create-task" action="/todolist/add-task/" method = "POST">
                        {% csrf_token %}
                        <div class="form-outline mb-4">
                            <label class="form-label" for="title-task">Title</label> 
                            <input type="text" id="title-task" name="title" class="form-control" required>
                        
                        </div>
                
                        <div class="form-outline mb-4">
                            <label class="form-label" for="description-task">Description</label> 
                            <textarea name="description" cols="10" rows="5"  class="form-control" required></textarea>
                            
                        </div>
                
                        <div class="row d-flex justify-content-center align-content-center">
                            <input class="btn btn-primary btn-block mb-4" style="width: 50%; margin-top: 1rem" type="submit" value="Add task">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}