<style>
  body {
    font-family: "Fira sans", sans-serif;
    font-weight: bold;
  }
  
  h1 {
    color: #15aabf;
    text-align: center;
  }

  .identity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 800px) {
    .identity {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    }
  }

  .content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .table-header {
    background-color: #15aabf;
    color: #fff;
    font-weight: bold;
  }

  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }

  .content-table tbody tr {
    border-bottom: 1px solid #ddd;
  }

  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #15aabf;
  }

  .btn-report {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-collapse: collapse;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #15aabf;
    margin: auto;
    margin-top: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

</style>

<script>
  var data = [
    {
        "model":"mywatchlist.watchlistitem",
        "pk":1,
        "fields":{
            "watched":"yes",
            "title":"The VVitch",
            "rating": "3.4",
            "release_date": "October 15th 2015",
            "review": "Black Phillip GOATED"
        }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":2,
    "fields":{
        "watched":"yes",
        "title":"The Wailing",
        "rating": "3.7",
        "release_date": "May 26th 2016",
        "review": "Japanese man goes brrah"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":3,
    "fields":{
        "watched":"yes",
        "title":"Hereditary",
        "rating": "3.6",
        "release_date": "June 27th 2018",
        "review": "Hidden mom in the corner of the ceiling, brr"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":4,
    "fields":{
        "watched":"yes",
        "title":"Midsommar",
        "rating": "3.5",
        "release_date": "September 7th 2019",
        "review": "cry, cry, CRY"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":5,
    "fields":{
        "watched":"yes",
        "title":"Us",
        "rating": "3.4",
        "release_date": "September 20th 2019",
        "review": "Adelaide is not the real Adelaide. Whaa-?"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":6,
    "fields":{
        "watched":"yes",
        "title":"Get Out",
        "rating": "3.8",
        "release_date": "March 29th 2017",
        "review": "The twist tho-"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":7,
    "fields":{
        "watched":"no",
        "title":"X",
        "rating": "3.3",
        "release_date": "March 18th 2022",
        "review": "BOLD horror movie"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":8,
    "fields":{
        "watched":"yes",
        "title":"The Autopsy of Jane Doe",
        "rating": "3.4",
        "release_date": "December 26th 2016",
        "review": "Making us feel that coroner is a cool-not cool job"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":9,
    "fields":{
        "watched":"no",
        "title":"Apollo 18",
        "rating": "2.6",
        "release_date": "September 2nd 2011",
        "review": "Moon is not safe"
    }
},
{
    "model":"mywatchlist.watchlistitem",
    "pk":10,
    "fields":{
        "watched":"no",
        "title":"Malignant",
        "rating": "3.1",
        "release_date": "October 31st 2021",
        "review": "Great experimental movie"
    }
}
];
  
  function getCount(watch) {
    var count = 0;
    for (var i = 0; i < data.length; i++) {
      if (data[i].fields.watched == watch) {
        count++;
      }
    } return count;
  }

  function a ()  {
    alert("Selamat, kamu sudah banyak menonton!")
  }

  function b () {
    alert("Wah, kamu masih sedikit menonton!")
  }
  
  var yes = getCount('yes');
  var no = getCount('no');
  
  function showReport () {
    if (yes >= no)
    {
      // setTimeout(a(), 1000)
      a();
    } else {
      b();
    }
  }
</script>

{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 3 PBP/PBD</h1>

  <div class="identity">
    <h5>Name: </h5>
    <p>Fahmi Sabila Firdaus</p>

    <h5>Student ID: </h5>
    <p>2106751745</p>
  </div>
  

  <table class="content-table">
    <tr class="table-header">
      <th>Watched?</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movie in movie_list %}
    <tr>
        <th>{{movie.watched}}</th>
        <th>{{movie.title}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.review}}</th>
    </tr>
{% endfor %}
  </table>

<input class="btn-report" type="button" value="Your Movie Report", onclick="showReport()"/>
 {% endblock content %}
